@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,500&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.background-paralax{
  background-image: url("../assets/bluePhone.png");
    background-position: center;
    background-repeat: no-repeat;
}
.background-paralax-mobile{
  background-image: url("../assets/bluePhone.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.topLeft{
  background-image: url("../assets/topLeft.png");
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bottomRight{
  background-image: url("../assets/bottomRight.png");
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bottomLeft{
  background-image: url("../assets/bottomLeft.png");
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.topRight{
  background-image: url("../assets/topRight.png");
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.retropurple-background{
  background-image: url("../assets/retro.png"); 
  background-color: #DEAFCF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  .retroB-background{
    background-image: url("../assets/retroB90.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
@media only screen and (min-width: 768px) {
  .retroB-background {
    background: url("../assets/retroB.png") 0 0 repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
*{
  font-family: 'Poppins', sans-serif;
}


.OpenMenuButton {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 900;
  word-spacing: 140%;
  letter-spacing: 4px;
}


.DrawerMenu {
  position: fixed;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: transform 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
  display: grid;
  grid-template-areas: 'MENU OVERLAY';
  grid-template-columns: 15fr 5fr
  
}


@media (min-width: 30em) {


.DrawerMenu {
    grid-template-columns: auto 1fr
  
}
  }


[data-menu]:checked ~ .DrawerMenu {
    transform: none
  
}


.Menu {
  display: block;
  flex-flow: column wrap;
  transform: translateX(-80%);
  opacity: 0;
  color: #fff;
  transition: all 500ms cubic-bezier(0.4, 0.0, 0.2, 1);
  transition-delay: 0;
  contain: content;
  grid-area: 'MENU';
  background-color: rebeccapurple;
  box-sizing: border-box;
  padding: 24px;
  overflow: auto;
  -webkit-overflow-scrolling: touch
}


@media (min-width: 30em) {


.Menu {
    min-width: 400px
}
  }


[data-menu]:checked ~ .DrawerMenu .Menu {
    transform: none;
    opacity: 1;
    transition-delay: 300ms
}


.Menu a {
    text-decoration: none;
    color: #FFFFFF80;
    display: block;
    padding: 16px 0
  }


.Menu a:hover {
      color: #69F0AE;
    }


.Menu > * + * {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }


.MenuOverlay {
  display: block;
  grid-area: 'OVERLAY'
}


[data-menu]:not(:checked) ~ .DrawerMenu .MenuOverlay {
    pointer-events: none
}

.z-index{
  z-index: 100;
}